ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    box-sizing: content-box;
    font-family: 'Playfair Display', serif;
}

h1{
    display: none;
}
.container{
    width: 936px;
    margin: 0 auto;
    padding: 0 15px;
    
}